In [1]:
import pandas as pd
import numpy as np
import quiverquant as qq

In [2]:
token = 'ae7272b6f0ef826789d145ccba3004b2e2e00720'
quiver = qq.quiver(token)

In [33]:
contracts_df = quiver.gov_contracts()

In [34]:
contracts_ticker_cts = contracts_df['Ticker'].value_counts()

In [35]:
print(contracts_ticker_cts)

DNOW    5030
GM      3420
F       1659
MCK      889
ECL      485
        ...
MVLA       1
AMGN       1
CVX        1
DXR        1
NCMI       1
Name: Ticker, Length: 448, dtype: int64

In [15]:
congress_df = quiver.congress_trading()

https://api.quiverquant.com/beta/live/congresstrading

In [18]:
congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
0,Josh Gottheimer,2023-10-15,2023-09-26,TGT,Sale,"$1,001-$15,000",Representatives,1001.0,D
1,Josh Gottheimer,2023-10-15,2023-09-26,AAPL,Sale,"$1,001-$15,000",Representatives,1001.0,D
2,Josh Gottheimer,2023-10-15,2023-09-26,NOC,Purchase,"$1,001-$15,000",Representatives,1001.0,D
3,Josh Gottheimer,2023-10-15,2023-09-22,TSLA,Purchase,"$1,001-$15,000",Representatives,1001.0,D
4,Josh Gottheimer,2023-10-15,2023-09-22,AVGO,Purchase,"$1,001-$15,000",Representatives,1001.0,D
...,...,...,...,...,...,...,...,...,...
995,John Hickenlooper,2022-11-29,2022-11-21,BATRA,Purchase,"$1,001 - $15,000",Senate,1001.0,D
996,John Hickenlooper,2022-11-29,2022-11-21,BATRK,Sale,"$15,001 - $50,000",Senate,15001.0,D
997,John Hickenlooper,2022-11-29,2022-11-21,BATRK,Purchase,"$1,001 - $15,000",Senate,1001.0,D
998,John Hickenlooper,2022-11-29,2022-11-14,LBRDA,Sale,"$50,001 - $100,000",Senate,50001.0,D
999,John Hickenlooper,2022-11-29,2022-11-14,LBRDA,Purchase,"$15,001 - $50,000",Senate,15001.0,D

In [27]:
congress_ticker_cts = congress_df['Ticker'].value_counts()
print(congress_ticker_cts)

CLF     34
PYPL    23
X       22
MSFT    18
NVDA    13
        ..
AVY      1
MKL      1
SWX      1
TSCO     1
ARLP     1
Name: Ticker, Length: 493, dtype: int64

In [36]:
common_values = contracts_ticker_cts.index.intersection(congress_ticker_cts.index)
print(common_values)

Index(['F', 'MCK', 'T', 'EW', 'UPS', 'SO', 'ABT', 'GD', 'BAH', 'SYK', 'IT',
       'BRKR', 'BIO', 'GE', 'HOLX', 'SNAP', 'CMCSA', 'BSX', 'ACN', 'CAT',
       'RTX', 'SYY', 'MSFT', 'SAIC', 'IBM', 'AORT', 'IRM', 'CMI', 'KEYS',
       'MMM', 'URI', 'AZTA', 'ISRG', 'HD', 'NOC', 'MOS', 'TMO', 'FDX', 'SHW',
       'JNJ', 'EFX', 'ITW', 'GNTX', 'AXP', 'ETR', 'EXAS', 'WM', 'MCO', 'ORCL',
       'PFE', 'ABBV', 'WBA', 'BMO', 'QCOM', 'DUK', 'AAPL', 'APH', 'EVBG',
       'BMY', 'DAR', 'MRNA', 'ZTS', 'VCYT', 'UNP', 'ADBE', 'UBER', 'ADI',
       'HSY', 'PTON', 'ROK', 'ES', 'DIOD', 'MKSI', 'VIAV', 'MRK', 'GRMN',
       'AVY', 'VZ', 'AKAM', 'GILD', 'BXP', 'DVA', 'CSCO', 'NDSN', 'AMGN',
       'CVX'],
      dtype='object')

In [37]:
common_values.shape

(86,)

In [38]:
house_df = quiver.house_trading()

In [39]:
house_ticker_cts = house_df['Ticker'].value_counts()
print(house_ticker_cts)

MSFT     63
AAPL     58
NVDA     51
JNJ      42
TSLA     41
         ..
VWAGY     1
ALIZY     1
ARGX      1
CGEMY     1
BNS       1
Name: Ticker, Length: 1369, dtype: int64

In [40]:
lobby_df = quiver.lobbying()
lobby_ticker_cts = lobby_df['Ticker'].value_counts()
print(lobby_ticker_cts)

SO       453
CMCSA    246
INTC     238
TMUS     181
MO       160
        ...
LEN.B      1
YRCW       1
UTX        1
VCRA       1
MDLA       1
Name: Ticker, Length: 1245, dtype: int64

In [41]:
offex_df = quiver.offexchange()
offex_ticker_cts = offex_df['Ticker'].value_counts()
print(offex_ticker_cts)

SQQQ    1
WSR     1
LTRX    1
CIF     1
REVG    1
       ..
EVH     1
PTCT    1
MCK     1
MFA     1
MAYS    1
Name: Ticker, Length: 4276, dtype: int64

In [42]:
lobby_house_common = lobby_ticker_cts.index.intersection(house_ticker_cts.index)
print(lobby_house_common)

Index(['SO', 'CMCSA', 'INTC', 'TMUS', 'MO', 'ORCL', 'VZ', 'MSFT', 'META',
       'GOOGL',
       ...
       'VTNR', 'COHR', 'YOU', 'BHP', 'BUD', 'SDC', 'TTE', 'UL', 'RBC', 'TAK'],
      dtype='object', length=448)

In [43]:
wiki_df = quiver.wikipedia()
wiki_ticker_cts = wiki_df['Ticker'].value_counts()
print(wiki_ticker_cts)

AAPL    1
DFIN    1
GP      1
EHTH    1
PFSW    1
       ..
BYD     1
CCEP    1
HUBB    1
UNFI    1
TRV     1
Name: Ticker, Length: 2413, dtype: int64

In [44]:
twit_df = quiver.twitter()
twit_ticker_cts = twit_df['Ticker'].value_counts()
print(twit_ticker_cts)

NYT     1
JBGS    1
COCP    1
BLMN    1
NXTP    1
       ..
PSN     1
FCN     1
GETR    1
GROW    1
KOSS    1
Name: Ticker, Length: 1720, dtype: int64

In [45]:
wiki_twit_common = wiki_ticker_cts.index.intersection(twit_ticker_cts.index)
print(wiki_twit_common)

Index(['AAPL', 'EHTH', 'KWR', 'RYAM', 'ILMN', 'NWBI', 'ADP', 'CCLD', 'TZOO',
       'OSPN',
       ...
       'GOEV', 'TORO', 'THO', 'KODK', 'TLRY', 'EVER', 'GTX', 'MGPI', 'BYD',
       'HUBB'],
      dtype='object', length=1097)

In [46]:
spac_df = quiver.spacs()

In [14]:
quiver.sec13FChanges()

Pulling data from:  https://api.quiverquant.com/beta/live/sec13fchanges

ValueError: non convertible value 2023-09-30T00:00:00.000 with the unit 'ms'